/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Estilos para el formulario de login y registro */
.login-container,
.signup-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: auto;
    margin-top: 20px;
}

.form-group {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: pointer;
}

.register-link {
    display: block;
    text-align: center;
    margin-top: 10px;
}

/* Estilos para la vista de productos */
.products-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.product-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.product-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.product-title {
    font-size: 18px;
    margin: 5px 0;
}

.product-description {
    margin: 5px 0;
    font-size: 14px;
}

.product-price {
    font-weight: bold;
    margin: 5px 0;
}

.add-to-cart-button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}
