<div class="forgot-container">
    <h2>¿Olvidaste tu contraseña?</h2>
    <h3 id="forgot-obser">{{observacion}}</h3>
    <form id="forgot-form" class="forgot-form" method="post" >
        <p>Por favor, introduzca su correo electrónico. Recibirá un enlace para restablecer su contraseña.</p>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required>
        </div>
        <button type="submit">Enviar</button>
    </form>
</div>
